---
import BaseLayout from '../../layouts/BaseLayout.astro';

import ContactCTA from '../../components/ContactCTA.astro';
import Hero from '../../components/Hero.astro';

export function getStaticPaths() {
  return [
    { params: { lang: 'es' } },
    { params: { lang: 'en' } }
  ];
}

const lang = Astro.params.lang || 'es';
const translations = await import(`../../locales/${lang}.json`);
const t = translations.default;

---

<BaseLayout lang={lang} t={t}
  title={t.about.title} description={t.about.tagline}>
	<div class="stack gap-10 lg:gap-20">
		<Hero
			title={t.about.title}
			tagline={t.about.tagline}
			taglineClass = 'tagline_about'
		>
		</Hero>
		<main class="wrapper about">

			<section>
				<h2 class="section-title">{t.about.experience}</h2>
				<div class="content">
					<div class="content_experience">
						<strong>{t.about.experiences[0].title}</strong>
						<span>{t.about.experiences[0].company} / {t.about.experiences[0].duration}</span>
						<ul>
							<li>{t.about.experiences[0].details[0]}</li>
							<li>{t.about.experiences[0].details[1]}</li>
							<li>{t.about.experiences[0].details[2]}</li>
							<li>{t.about.experiences[0].details[3]}</li>
							<li>{t.about.experiences[0].details[4]}</li>
						</ul>
					</div>
					<hr>
					<div class="content_experience">
						<strong>{t.about.experiences[1].title}</strong><br>
						<span>{t.about.experiences[1].company} / {t.about.experiences[1].duration}</span>
						<ul>
							<li>{t.about.experiences[1].details[0]}</li>
							<li>{t.about.experiences[1].details[1]}</li>
							<li>{t.about.experiences[1].details[2]}</li>
							<li>{t.about.experiences[1].details[3]}</li>
							<li>{t.about.experiences[1].details[4]}</li>
						</ul>
					</div>
					<hr>
					<div class="content_experience">
						<strong>{t.about.experiences[2].title}</strong><br>
						<span>{t.about.experiences[2].company} / {t.about.experiences[2].duration}</span>
						<ul>
							<li>{t.about.experiences[2].details[0]}</li>
							<li>{t.about.experiences[2].details[1]}</li>
							<li>{t.about.experiences[2].details[2]}</li>
							<li>{t.about.experiences[2].details[3]}</li>
							<li>{t.about.experiences[2].details[4]}</li>
						</ul>
					</div>
					<hr>
					<div class="content_experience">
						<strong>{t.about.experiences[3].title}</strong><br>
						<span>{t.about.experiences[3].company} / {t.about.experiences[3].duration}</span>
						<ul>
							<li>{t.about.experiences[3].details[0]}</li>
							<li>{t.about.experiences[3].details[1]}</li>
							<li>{t.about.experiences[3].details[2]}</li>
						</ul>
					</div>
					<hr>
					<div class="content_experience">
						<strong>{t.about.experiences[4].title}</strong><br>
						<span>{t.about.experiences[4].company} / {t.about.experiences[4].duration}</span>
						<ul>
							<li>{t.about.experiences[4].details[0]}</li>
							<li>{t.about.experiences[4].details[1]}</li>
							<li>{t.about.experiences[4].details[2]}</li>
							<li>{t.about.experiences[4].details[3]}</li>
						</ul>
					</div>
				</div>
			</section>
			<section>
				<h2 class="section-title">{t.about.education}</h2>
				<div class="content">
					<ul>
						<li><strong>{t.about.educations[0].title}</strong> <span>- {t.about.educations[0].place}</span></li>
						<li><strong>{t.about.educations[1].title}</strong> <span>- {t.about.educations[1].place}</span></li>
						<li><strong>{t.about.educations[2].title}</strong> <span>- {t.about.educations[2].place}</span></li>
						<li><strong>{t.about.educations[3].title}</strong> <span>- {t.about.educations[3].place}</span></li>
						<li><strong>{t.about.educations[4].title}</strong> <span>- {t.about.educations[4].place}</span></li>
					</ul>
				</div>
			</section>
			<section>
				<h2 class="section-title">{t.about.skills}</h2>
				<div class="content">
					<div class="skills">
						<span class="skill">{t.about.skill[0]}</span>
						<span class="skill">{t.about.skill[1]}</span>
						<span class="skill">{t.about.skill[2]}</span>
						<span class="skill">{t.about.skill[3]}</span>
						<span class="skill">{t.about.skill[4]}</span>
						<span class="skill">{t.about.skill[5]}</span>
					</div>
					<div class="skills">
						<span class="skill">{t.about.skill[6]}</span>
						<span class="skill">{t.about.skill[7]}</span>
						<span class="skill">{t.about.skill[8]}</span>
						<span class="skill">{t.about.skill[9]}</span>
					</div>
				</div>
			</section>
		</main>

		<div class="cta_bottom">
			<ContactCTA lang={lang} t={t} />
		</div>
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 2rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
		text-align: left;
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	.skills{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-start;
        gap: 10px;
        list-style: none;
        margin-top: 10px;
    }
    .skill{
        font-size: var(--text-base);
        background: var(--gradient-accent);
        color: var(--accent-text-over);
        padding: 0.5rem 1rem;
        border-radius: 999rem;
        transition: color var(--theme-transition), background-color var(--theme-transition);
    }

	.cta_bottom{
		align-self: center;
		margin-top: 40px;
	}

	.content_experience{
		margin: 15px 0 25px 0;
	}

	.content_experience span{
		font-style: italic;
		font-size: var(--text-sm);
	}

	.content_experience ul li,
	.content ul li{
		font-size: var(--text-base);
	}
	.content ul li span{
		font-style: italic;
	}

	.content_experience:last-child{
		margin-bottom: 0;
	}

	.wrapper{
		padding-inline: 2rem;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 0.5fr 2fr;
			padding-inline: 2.5rem;
			gap: 3.5rem;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
			padding-inline: 2.5rem;
		}
		.content{
			padding-inline: 2.5rem;
		}
		.section-title{
			text-align: center;
		}
	}
</style>
